nav { 
    max-width: 600;
    margin:auto;
    background-color: #00840b;
    font-size: 20px;
    margin-top: 30px ;

}

.menu-horizontal {
    display: flex;
    list-style: none;
    justify-content: space-around;

}

.menu-horizontal > li > a {
        color:white;
        text-decoration: none;
        padding: 15px 20px;
        display:block;

}

.menu-horizontal  > li:hover {


}